@model ICollection<TestFormattedData>

@{
    ViewData["Title"] = "Quiz Page";
}

<div class="container">
    <div class="row m-auto border-bottom border-dark-subtle pb-2" style="height:50px; width:100%">
        <div class="col d-flex align-items-center">
            <h2 class="m-0">
                Custom Quizes
            </h2>
        </div>
        <div class="col text-end d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-info" id="add_quiz_btn" data-toggle="modal" data-target="#add-quiz-modal">
                Add new
            </button>
        </div>
    </div>
    <div class="row pt-3">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.Name</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="font-monospace h4">
                                Number of questions: @item.QuestionsCount
                            </p>
                        </div>
                        <div class="d-flex flex-fill">
                            <div class="p-2 m-0 w-50 h4 d-flex justify-content-center align-items-center" style="font-weight:bold;">
                                @item.CreationDate
                            </div>
                            <div class="p-2 w-50 d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary" data-id="@item.Id">Start</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="add-quiz-modal" tabindex="-1" role="dialog" aria-labelledby="add-quiz-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-quiz-modal-label">Add custom quiz</h5>
                <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                @* <form>
                    <div class="form-group">
                        <label asp-for="name" class="col-form-label">Quiz Name</label>
                        <input type="text" asp-for="name" class="form-control">
                    </div>
                </form> *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>